# 模块特定的配置

# 添加头文件路径
target_include_directories(${PROJECT_NAME} PRIVATE
    ${MM_ROOT}/thirdparty/darknet/yolotrt
    ${MM_ROOT}/thirdparty/darknet/yolotrt/extra
    ${MM_ROOT}/thirdparty/darknet/src
    ${MM_ROOT}/thirdparty/darknet/include
)

# 添加特定库
target_link_libraries(${PROJECT_NAME} PRIVATE
    ${DARKNET_LIB}
    ${YOLOTRT_LIB}
)
